<div class="hero">
	{{#with hero}}
		<h1 class="hero_title">
			{{title}}
		</h1>
		<p class="hero_description">
			{{description}}
		</p>
		<a href="{{button.url}}" class="hero_button">
			{{button.text}}
		</a>
	{{/with}}
</div>

<div class="main">
	{{#with about}}	
		<h3 class="main_heading">
			{{heading}}
		</h3>
		<p class="main_info">
			{{info}}
		</p>
	{{/with}}
</div>

<div class="articles">
	<div class="art_header_block">
		<h2 class="art_header">Our Articles</h2>
		<a href="#" class="art_header_button">View All</a>
	</div>
	<div class="art_cards_block">
		{{>articleCardDark data=this}}
	</div>
</div>
